/*
  Video
*/
#video-container {
  max-width: 700px;
  width: 75%;
  margin: 0 auto;

  #video {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}

.playhead {
  cursor: pointer;
  display: flex;
  margin: 0 auto;
  position: relative;
  bottom: 12px;
  width: 100%;
  height: 20px;
  align-items: center;
  transition: all .3s ease-in-out;


  #progress-background {
    height: 4px;
    // border-radius: 1em;
  	width: 100%;
    background: #eee;
    display: inline-block;
    padding: 0px;
    margin: 0 auto;

    #progress-over{
      height: 4px;
      background: $orange;
      width: 0%;
      position: absolute;
      bottom: 8px;
    }

    #buffer-bar{
      height: 4px;
      background: darken($white, 20%);
      width: 0%;
    }
  }
}

#video-controls {
  display: flex;
  align-items: center;
  z-index: 1000;
  margin: 0 auto;
  position: relative;
  bottom: 20px;
  width: 100%;
  height: 40px;
  background: $controlsColor;
  // opacity: 0;
  transition: all .3s .1s ease-in-out;

  div {
    display: inline-block;
    margin: 0 5px;
    position: relative;
    cursor: pointer;
  }

  #leftControls {
    align-items: center;
    display: inline-block;
    margin-right: auto;
    width: 40%;

    #play-pause {
      cursor: pointer;
      margin: 0 5px;

      img {
        position: relative;
        top: 2px;
      }
    }

    #time {
      position:absolute;
      top: 2px;
      // width: 400px;
      color: $white;
      cursor: auto;
      width: 50%;
      font-size: 1em;

      #slash {
        width: 5%;
      }

      .timeTxt {
        display: inline-block;
        width: 30%;
        text-align: center;
      }
    }

    #speed {
      color: $white;
      top: -5px;
      left: 45%;
    }
  }

  #rightControls {
    // background: black;
    width: 30%;

    #volume {
      width: 40%;
      bottom: 5px;
    }

    #cc {
      cursor: pointer;
      position: relative;
      top:3px;
    }
  }

  #volume-background {
    cursor: pointer;
    height: 8px;
    border-radius: 2em;
  	width: 100%;
    background: #eee;
    padding: 0px;
    margin: 0 auto;


    #volume-over {
      height: 100%;
      background: $orange;
      width: 100%;
      border-radius: 1em;
      display: block;
      right: 5px;
    }
  }

  #mute {
    cursor: pointer;
    position: relative;
    top: 2px;
  }

  #full-screen {
    cursor: pointer;
    position: relative;
    top: 2px;
    color: $background;
  }
}

#mute:hover + #volume-background {
  display: inline-block;
}

// #video-container:hover > #video-controls{
//   opacity: 1;
//   bottom: 60px;
// }

// #video-container:hover > .playhead{
//   bottom: 60px;
// }
