/*
  Video
*/
#video-container {
  width: 100%;
  margin: 0 auto;

  @include mQuery(mobile) {
    max-width: 700px;
    width: 75%;
  }

  h1 {
    color: $mainFontColor;
    margin: 20px 0 15px 0;
    text-align: center;
    display: none;

    @include mQuery(mobile) {
      display: block;
    }
  }


  #video {
    width: 100%;
    display: block;
    margin: 0 auto;


  }
}

.playhead {
  cursor: pointer;
  display: flex;
  margin: 0 auto;
  position: relative;
  bottom: 52px;
  width: 100%;
  height: 20px;
  align-items: center;



  #progress-background {
    height: 4px;
  	width: 100%;
    background: #eee;
    display: inline-block;
    padding: 0px;
    margin: 0 auto;

    #progress-over{
      height: 4px;
      background: $orange;
      width: 0%;
      position: absolute;
      bottom: 8px;
    }

    #buffer-bar{
      height: 4px;
      background: darken($white, 20%);
      width: 0%;
    }
  }
}

#video-controls {
  display: flex;
  align-items: center;
  z-index: 1000;
  margin: 0 auto;
  position: relative;
  bottom: 45px;
  width: 100%;
  height: 25px;
  background: $controlsColor;

  @include mQuery(mobile) {
    height: 40px;
    bottom: 60px;
  };


  div {
    display: inline-block;
    margin: 0 5px;
    position: relative;
    cursor: pointer;
  }

  #leftControls {
    @include mQuery(mobile) {
      // left: 45%;
    }

    align-items: center;
    display: inline-block;
    margin-right: auto;
    width: 200px;

    #play-pause {
      cursor: pointer;
      margin: 0 5px;

      width: 16px;

      @include mQuery(mobile) {
        width: 20px;
      }

      img {
        position: relative;
        top: 2px;
        width: 100%
      }
    }

    #time {
      position:absolute;
      top: 2px;
      color: $white;
      cursor: auto;
      width: 120px;
      font-size: $fontSmallScreen;

      @include mQuery(mobile) {
        top: 2px;
        font-size: $fontMedium / 1.2;
        width: 120px;
      }

      #slash {
        width: 5%;
      }

      .timeTxt {
        display: inline-block;
        width: 30%;
        text-align: center;
      }
    }


    #speed {
      color: $white;
      top: -2px;
      left: 50%;
      font-size: $fontSmallScreen;

      @include mQuery(mobile) {
        top: -1px;
        font-size: $fontMedium / 1.2;
      }
    }
  }

  #rightControls {
    @include mQuery(mobile) {
      width: 210px;
    }

    width: 140px;

    #volume {
      width: 40%;
      bottom: 3px;


    }

    #cc {
      cursor: pointer;
      position: relative;
      top:3px;
      width: 16px;

      @include mQuery(mobile) {
        width: 20px;
      }

      img {
        width: 100%;
      }
    }
  }

  #volume-background {
    cursor: pointer;
    height: 8px;
    border-radius: 2em;
  	width: 100%;
    background: #eee;
    padding: 0px;
    margin: 0 auto;


    #volume-over {
      height: 100%;
      background: $orange;
      width: 100%;
      border-radius: 1em;
      display: block;
      right: 5px;
    }
  }

  #mute {

    cursor: pointer;
    position: relative;
    top: 2px;
    width: 16px;

    @include mQuery(mobile) {
      width: 20px;
    }

    img {
      width: 100%;
    }
  }

  #full-screen {
    @include mQuery(mobile) {
      display: inline-block;
      width: 20px;
    }
    img {
      width: 100%;
    }

    display: none;
    cursor: pointer;
    position: relative;
    top: 2px;
    color: $background;
  }
}
